
main {
    font-family: sans-serif;
    background-color: pink;
    color: maroon;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
button {
    background-color: maroon;
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
}